cshtml
@model IEnumerable<Opticien_APP.Models.Verres>

@{
    ViewBag.Title = "Verres";
}

<h2>Verres</h2>

@using (Html.BeginForm("Index", "Verres", FormMethod.Get))
{
    <p>Search by Type: @Html.TextBox("searchString") <input type="submit" value="Search" /></p>
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeDeVerre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDeVerre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>