cshtml
@model Opticien_APP.Models.Paiement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paiement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModeDePaiement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeDePaiement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationVente.NumeroOp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationVente.NumeroOp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>